@import 'tailwindcss';

body {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for horizontal scroll nav */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
