.brend {
    background-color: #000;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;

}

.brandsStrip {
    display: flex;
    width: max-content;
    /* Контейнер бере ширину всього вмісту (обох груп) */
    animation: scroll 20s linear infinite;
    /* 20s - швидкість (збільш, щоб було повільніше) */
}

.brandsStrip:hover {
    animation-play-state: paused;
}

.logoGroup {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-right: 80px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}